.container {
    margin-top: 100px;
    margin-left: 150px;
    width: 1150px;
    height: auto;
    display: flex;
    background-color: white;
}

.item {
    margin: 30px 30px 30px;
    width: 310px;
    height: 300px;
    padding: 0px;
    position: relative;
    margin-right: 50px;
}

.item img {
    width: 310px;
    height: 300px;
    border-radius: 5%;
}

.item a.button {
    display: none;
    /* Ẩn nút vào học mặc định */
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgb(20, 129, 19);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.item:hover a.button {
    display: block;
    /* Hiển thị nút vào học khi di chuột vào */
}

/* Menu ngang */
.header {
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header .user-info {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header .user-info .username {
    margin-right: 10px;
}

.header .logout-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}